.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.content > :last-child{
    margin: 0;
}

.link {
    margin: 0 .8rem 0 0;
}

.link, .link img{
    height: 1.5rem;
    width: auto;
}

