.app{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    margin: 3rem 3rem;
}

.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

}

.navigation{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}


.app_img_background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: -10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 720px) {
    .app{
        margin: 2rem 0.8rem;
    }

}

/*@media screen and (max-height: 600px) {*/
/*    .app{*/
/*        margin: 6vh 7vw 3vh 7vh;*/
/*    }*/
/*}*/
