.about{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
}

.about_im{
    color: var(--color-accent);
    font-style: normal;
    font-weight: 900;
    font-size: 2.2em;
    margin-bottom: .5em;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.about_txt{
    color: var(--color-accent);
    max-width: 23.5em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width: 720px) {
    .about_im {
        font-size: 5vw;
        margin-bottom: 1em;
    }

    .about_txt{
        font-size: 4vw;
    }

}