.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
    color: var(--color-accent);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.content input{
    font-size: 1em;
    color: var(--color-accent);
    padding: 0.4rem 0.6rem;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 0.1em solid var(--color-accent);
    box-shadow: 0 0.1em 0 transparent;
    -webkit-box-shadow: 0 0.1em  0 transparent;
    -moz-box-shadow:    0 0.1em 0 transparent;
}

.content input:focus{
    outline: none;
    border-bottom: 0.1em solid var(--color-accent);
    box-shadow: 0 0.1em 0 var(--color-accent);
    -webkit-box-shadow: 0 0.1em 0 var(--color-accent);
    -moz-box-shadow:    0 0.1em 0 var(--color-accent);
}

.error input{
    border-bottom: 0.1em solid var(--color-error);
    box-shadow: 0 0.1em 0 var(--color-error);
    -webkit-box-shadow: 0 0.1em 0 var(--color-error);
    -moz-box-shadow:    0 0.1em 0 var(--color-error);
}

.message, .message_error {
    flex: 0 1 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8em;
    height: 0.8em;
    margin-left: 0.6rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.message {
    color: transparent;
}

.message_error {
    color: var(--color-error);
}


.header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    font-weight: 700;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

.content input:placeholder-shown + .header {
    opacity: 0;
    transform: translateY(1rem);
}


/*.feedback_group_input input:valid {*/
/*    border-color: var(--color-primary);*/
/*    background-image: url("data:image/svg+xml,%3Csvg width='15px' height='15px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");*/

/*    background-position: right center;*/
/*    background-repeat: no-repeat;*/
/*}*/