.contacts{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
}
.contacts_main{
    display: flex;
    flex-direction: column;
}

.contacts_main_1{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding-left: 5px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: 1.5em;
    font-size: 1.4em;
}



.contacts_main_2{
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 0.9em;
    text-transform: lowercase;
    color: var(--color-accent);
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width: 720px) {
    .contacts_main_1 {
        font-size: 4vw;
        margin-bottom: 1em;
    }

    .contacts_main_2{
        font-size: 9vw;
    }

}

.contacts_data_li span{
    color: var(--color-accent);
    font-style: normal;
    font-weight: 500;
    font-size: .9em;
    line-height: 30px;
    text-transform: lowercase;
    cursor: pointer;
}



.contacts_tooltip_text {
    position: absolute;
    margin-left: 9px;
    color: var(--color-accent);
    z-index: 10;
    opacity: .5;
}

